<!-- {$smarty.template} ($Id$) -->
{import_js files="yui.yahoo,yui.dom"}
{literal}
<script>
function AdjustIframes(){	
	document.getElementById("report_tree").height = YAHOO.util.Dom.getClientHeight() - document.getElementById("titlebar0").offsetHeight - 4;
}
window.onresize = AdjustIframes;
</script>
{/literal}

<!-- Menu header box -->
<div class="titlebar" id="titlebar0">
	Report Explorer
</div>

<!-- Sub-Window (Inline Frame) -->
<iframe src="?module=mod_reports&action=get_reports_tree&root_tpl=blank_panel&class=white" id="report_tree" width="100%" height="440px" name="report_tree" frameborder="0"></iframe>

<script>
AdjustIframes();
parent.parent.toolbar.MM_nbGroup('down','group1','reports','assets/toolbar/reports_over.gif',1);
</script>


<!-- end of {$smarty.template} -->
