/*  2004 Next Dimension Inc. All rights reserved. */

BODY {
	/*border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #808080; */
	margin: 0px;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	background-color: #FFF;
}

BODY.white {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	margin: 0px;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	background-color: #FFFFFF;
}

TD {
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	line-height: 16px;
}

BODY.iframe {
	border: 0px;
	margin: 0px;
}

BODY.iframe_explorer {
	border: 0px;
	margin: 0px;
	background-color: White;
}

P {
	margin-top: 5px;
	margin-bottom: 10px;
	color: #555555;
	line-height: 16px;
}

FIELDSET P {
	color: #555555;
	line-height: 19px;
	margin-top: 0px;
	margin-bottom: 0px;
}

LI {
	color: #555555;
	line-height: 18px;
	margin-bottom: 6px
}

DD {
	margin-left: 15px;
}

FORM {
	margin: 0px;
}

FIELDSET {
	padding: 5px;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	color: #333333;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

LEGEND {
	color: #222222;
}

IMG.button {
	border: 0px;
	vertical-align: middle;
	vertical-align: absmiddle;
	cursor: hand; /* for IE */
	cursor: pointer;  /* for mozilla et al */
}

IMG.icon_control {
	border: 0px;
	vertical-align: middle;
	vertical-align: absmiddle;
	cursor: hand; /* for IE */
	cursor: pointer;  /* for mozilla et al */
}

IMG.icon {
	border: 0px;
	margin-right: 2px;
	vertical-align: middle;
	vertical-align: absmiddle;
	cursor: hand;
	cursor: pointer;
}

IMG.separator {
	border: 0px;
	vertical-align: middle;
	vertical-align: absmiddle;
	cursor: default;
}

IMG.debug {
	position: absolute;
	top: 3px;
	right: 3px;
}


H2 IMG, H1 IMG, H3 IMG {
	vertical-align: middle;
	vertical-align: absmiddle;
	margin-right: 3px;
}

/* Headings */
h1, h2, h3 {
  font-family: 'Droid Sans', sans-serif;
}

.titlebar, .titlebar table tr td, .titlebar_collapsed, .titlebar_expanded {
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
}

H1 {
	color: #0066CC;
	font-weight: bold;
	font-size: 11px;
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 10px;
	
}

H2 {
	color: #333399;
	font-weight: bold;
	font-size: 11px;
	margin: 0px;
	margin-top: 25px;
	margin-bottom: 10px;
}

H3 {
	color: #333333;
	font-weight: bold;
	font-size: 11px;
	margin: 0px;
	margin-top: 15px;
	margin-bottom: -8px;
	margin-left: 24px;
}

P.codeblock, PRE {
	background-color: #E9E9E9;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-family: "Courier New", Courier, mono;
	color: #222222;
}

SPAN.none {
	font-size: 11px;
	padding: 2px;
	color: #222222;
	vertical-align: absmiddle;
}

SPAN.inlineHeading {
	color: #000000;
	font-weight: bold;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	margin-right: 8px;
}

SPAN.purple {
	font-size: 11px;
	padding: 2px;
	background-color: #9966FF;
	color: White;
	vertical-align: absmiddle;
	margin-right: 2px;
	padding-left: 4px;
}

SPAN.green {
	font-size: 11px;
	padding: 2px;
	background-color: #00CC00;
	color: White;
	vertical-align: absmiddle;
	margin-right: 2px;
	padding-left: 4px;
}

SPAN.green2 {
	font-size: 11px;
	padding: 2px;
	background-color: #339999;
	color: White;
	vertical-align: absmiddle;
	margin-right: 2px;
	padding-left: 4px;
}

SPAN.gray2 {
	font-size: 11px;
	padding: 2px;
	background-color: #4F5F71;
	color: White;
	vertical-align: absmiddle;
	margin-right: 2px;
	padding-left: 4px;
	
	background-image: url('/assets/core/bg_gray2.gif');
	background-position: top left;
	background-repeat: repeat-x;
}

SPAN.gray {
	font-size: 11px;
	padding: 2px;
	background-color: #494949;
	color: White;
	vertical-align: absmiddle;
	margin-right: 2px;
	padding-left: 4px;
}

SPAN.blue {
	font-size: 11px;
	padding: 2px;
	background-color: #333399;
	color: White;
	vertical-align: absmiddle;
	margin-right: 2px;
	padding-left: 4px;
	
	background-image: url('/assets/core/bg_titlebar.gif');
	background-position: top left;
	background-repeat: repeat-x;
}

SPAN.blue2 {
	font-size: 11px;
	padding: 2px;
	background-color: #0066CC;
	color: White;
	vertical-align: absmiddle;
	margin-right: 2px;
	padding-left: 4px;
}

SPAN.pink {
	font-size: 11px;
	padding: 2px;
	background-color: #FF3333;
	color: White;
	vertical-align: absmiddle;
	margin-right: 2px;
	padding-left: 4px;
}

SPAN.red {
	font-size: 11px;
	padding: 2px;
	background-color: #FF0000;
	color: White;
	vertical-align: absmiddle;
	margin-right: 2px;
	padding-left: 4px;

	background-image: url('/assets/core/bg_red.gif');
	background-position: top left;
	background-repeat: repeat-x;
}

SPAN.orange {
	font-size: 11px;
	padding: 2px;
	background-color: #FF6600;
	color: White;
	vertical-align: absmiddle;
	margin-right: 2px;
	padding-left: 4px;

	background-image: url('/assets/core/bg_orange.gif');
	background-position: top left;
	background-repeat: repeat-x;
}

SPAN.yellow {
	font-size: 11px;
	padding: 2px;
	background-color: #FFFF33;
	color: #333333;
	vertical-align: absmiddle;
	margin-right: 2px;
	padding-left: 4px;

	background-image: url('/assets/core/bg_yellow.gif');
	background-position: top left;
	background-repeat: repeat-x;
}

SPAN.gray3 {
	font-size: 11px;
	padding: 2px;
	background-color: #AAAAAA;
	color: #EEEEEE;
	vertical-align: absmiddle;
	margin-right: 2px;
	padding-left: 4px;
}

SPAN.blue2 {
	font-size: 11px;
	padding: 2px;
	background-color: #0066FF;
	color: White;
	vertical-align: absmiddle;
	margin-right: 2px;
	padding-left: 4px;

	background-image: url('/assets/core/bg_blue2.gif');
	background-position: top left;
	background-repeat: repeat-x;
}



SPAN.v2 {
	font-size: 11px;
	padding: 3px;
	background-color: #333399;
	color: White;
	vertical-align: absmiddle;
	margin-left: 2px;
	margin-right: 2px;
}

SPAN.v3 {
	font-size: 11px;
	padding: 3px;
	background-color: #9966CC;
	color: White;
	vertical-align: absmiddle;
	margin-left: 2px;
	margin-right: 2px;
}

SPAN.v4 {
	font-size: 11px;
	padding: 3px;
	background-color: #FF3300;
	color: White;
	vertical-align: absmiddle;
	margin-left: 2px;
	margin-right: 2px;
}

SPAN.unresolved {
	color: #777777;
}


/* Links */
A {
	cursor: hand;
	cursor: pointer;
}

A:link, A:active, A:visited, A:hover {
	color: #0066CC;
	font-weight: normal;
	text-decoration: underline;
	cursor: hand;
	cursor: pointer;
}

DIV.tree A:link, DIV.tree A:active, DIV.tree A:visited {
	color: Black;
	font-weight: normal;
	text-decoration: none;
}

DIV.tree A:hover {
	color: #0066CC;
	font-weight: normal;
	/* text-decoration: underline; */
}

DIV.gray2 {
	font-size: 11px;
	padding: 2px;
	background-color: #4F5F71;
	color: White;
	vertical-align: absmiddle;
	margin-right: 2px;
	padding-left: 4px;
	
	background-image: url('/assets/core/bg_gray2.gif');
	background-position: top left;
	background-repeat: repeat-x;
}

/* Base widget classes */
DIV.titlebar {
	/*
	border-left: 1px solid White;
	border-top: 1px solid White;
	border-bottom: 1px solid #808080;
	*/
	background-color: #1d5784;
	padding: 8px;
    padding-left: 11px;
	color: #FFF;
	font-weight: bold;
}

DIV.titlebar_expanded {

	margin-bottom: 1px;
	background-color: #1d5784;
	padding: 8px;
	padding-left: 11px;
	color: White;
	font-weight: bold;

	cursor: hand;
	cursor: pointer;
}

DIV.titlebar_collapsed {

	margin-bottom: 1px;
	background-color: #666666;
	padding: 8px;
	padding-left: 11px;
	color: White;
	font-weight: bold;

    /*
	background-image: url('/assets/core/bg_titlebar_collapsed.gif');
	background-position: top left;
	background-repeat: repeat-x;
    */

	cursor: hand;
	cursor: pointer;
}

IMG.progress {
	width: 16px;
	height: 16px;
	padding: 0px;
	visibility: hidden;
	display: none;
	vertical-align: middle;
	vertical-align: absmiddle;
	
}

IMG.progress_big {
	width: 32px;
	height: 32px;
	padding: 0px;
	visibility: hidden;
	display: none;
	vertical-align: middle;
	vertical-align: absmiddle;
}

IMG.progressbar {
	width: 126px;
	height: 22px;
	padding: 0px;
	visibility: hidden;
	display: none;
	vertical-align: middle;
	vertical-align: absmiddle;
}

/*
DIV.progress_off {
	width: 16px;
	height: 16px;
	padding: 0px;
	display: block;
	background-color: #000000;
}
*/


DIV.panel, DIV.alert {
	border-left: 1px solid White;
	border-top: 1px solid White;
	border-bottom: 1px solid #808080;
	background-color: FFF;
	padding: 4px;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
}

div.panel:nth-child(odd) {
  background-color: #f1f1f1;
}

DIV.empty {
	background-color: #D4D0C8;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
}

DIV.alert {
	background-color: #FFFFE1;
	padding-left: 6px;
}

DIV.region {
	padding: 0px;
}

DIV.tree {
	margin-left: 8px;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-right: 0px;
}

/* Background color blocks */
DIV.blue {
	background-color: #0066FF;
}

DIV.purple {
	background-color: #993399;
}

DIV.green {
	background-color: #333399;
}

DIV.orange {
	background-color: #FF3300;
}

DIV.red {
	background-color: #CC0000;
}

DIV.gray {
	background-color: #333333;
}

DIV.black {
	background-color: Black;
}

DIV.white {
	background-color: White !important;
	padding: 10px;
}


/* Widget state classes */
.open {
	display: block;
}

.closed {
	display: none;
}


/* Basic color classes */
.white {
	background-color: White;
}

/* Buttons and other form elements */
FORM{
	display: inline;
}

INPUT, SELECT, TEXTAREA, OPTION {
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	vertical-align: middle;
	vertical-align: absmiddle;
}

INPUT.button {
	font-size: 11px;
    font-weight: bold;
	vertical-align: middle;
	vertical-align: absmiddle;
	height: 24px;
	border-left: 1px solid White;
	border-top: 1px solid White;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	cursor: hand;
	cursor: pointer;
    color: #FFF;
    background-color: #1D5784;
}

INPUT.button_over, INPUT.button_selected {
    font-weight: bold;
	border: 1px solid #0A246A;
	height: 24px;
	background-color: #B6BDD2;
	cursor: hand;
	cursor: pointer;
}

INPUT.date {
	background-image: url('/assets/core/input_date.gif');
	background-position: center center;
	width: 80px;
}

.input, .string_input, .email_input, .password_input {
	/*
	background-color: #F7FBFF;
	border: #808080 solid 1px;
	*/
	background-color: #FFFFFF;
	
}

.input_over, .string_over, .email_over, .password_over {
	
	background-color: #FFFFFF;
	/* border: #000000 solid 1px; */
}

.input_selected, .string_selected, .email_selected, .password_selected {
	
	background-color: #FFFFFF;
	/* border: #000000 solid 1px; */
}

.input_invalid, .input_invalid_over, .input_invalid_selected, .string_invalid, .string_invalid_over, .string_invalid_selected, .email_invalid, .email_invalid_over, .email_invalid_selected, .password_invalid, .password_invalid_over, .password_invalid_selected {
	background-color: #FFFFFF;
	border: #ff0000 solid 1px;
}

.enabled {
	background-color: White;
}

.disabled {
	background-color: #D4D0C8;
}


.login_input {
	background-color: #eeeeee;
	border: 1px solid #666666;
	color: #333333;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-left: 2px;
	text-align: left;
}

.login_input_over, .login_input_selected {
	background-color: #eeeeee;
	border: 1px solid #666666;
	color: #333333;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-left: 2px;
	text-align: left;
}

.login_input_invalid_over, .login_input_invalid_selected, .login_input_invalid  {
	background-color: #eeeeee;
	border: 1px solid #666666;
	color: #333333;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-left: 2px;
	text-align: left;
}


/* Table & Datagrid Classes */

DIV.datagrid TD, TABLE.Table TD, TABLE.datagrid TD {
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #EEEEEE;
	padding: 2px;
	padding-left: 7px;
	padding-right: 5px;
	background-color: White;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
}

.center TD {
	text-align: center;
}

DIV.datagrid TH, TABLE.Table TH, TABLE.datagrid TH, TR.headerstyle TD, TABLE.datagrid THEAD TD, DIV.datagrid THEAD TD, TD.headerstyle {
	border-left: 1px solid White;
	border-top: 1px solid White;
	border-bottom: 1px solid #808080;
	border-right: 1px solid #808080;
	background-color: #D4D0C8;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 22px;
	cursor: pointer;
	cursor: hand;
}

TABLE.Table, TABLE.datagrid, TABLE.datagrid TABLE, DIV.datagrid TABLE {
	width: 100%;
	border-collapse: separate;
}

TABLE.sortable TH {
	cursor: pointer;
	cursor: hand;
}

.cell_green {
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	background-color: #009900;
}

.cell_yellow {
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	background-color: #CCFF00;
}

.cell_red {
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	background-color: #FF0000;
}

/* TREE Control Classes */
SPAN.node A:link, SPAN.node A:active, SPAN.node A:visited {
	color: #444444;
}


/* .NET Control Classes  */
TABLE.CheckBoxList TD {
	border: 0px;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	vertical-align: top;
}

/* Printer Classes */
.printOnly {
	display: none;
}

.noPrint {
	display: block;
}

.noPrintInline {
	display: inline;
}

.print {
	display: none;
}


/* Tree Classes */
/* first or middle sibling, no children */
.ygtvtn {
	width:16px; height:22px; 
	background: url(../tree/tn.gif) 0 0 no-repeat; 
}

/* first or middle sibling, collapsable */
.ygtvtm {
	width:16px; height:22px; 
	cursor:pointer ;
	background: url(../tree/tm.gif) 0 0 no-repeat; 
}

/* first or middle sibling, collapsable, hover */
.ygtvtmh {
	width:16px; height:22px; 
	cursor:pointer ;
	background: url(../tree/tmh.gif) 0 0 no-repeat; 
}

/* first or middle sibling, expandable */
.ygtvtp {
	width:16px; height:22px; 
	cursor:pointer ;
	background: url(../tree/tp.gif) 0 0 no-repeat; 
}

/* first or middle sibling, expandable, hover */
.ygtvtph {
	width:16px; height:22px; 
	cursor:pointer ;
	background: url(../tree/tph.gif) 0 0 no-repeat; 
}

/* last sibling, no children */
.ygtvln {
	width:16px; height:22px; 
	background: url(../tree/ln.gif) 0 0 no-repeat; 
}

/* Last sibling, collapsable */
.ygtvlm {
	width:16px; height:22px; 
	cursor:pointer ;
	background: url(../tree/lm.gif) 0 0 no-repeat; 
}

/* Last sibling, collapsable, hover */
.ygtvlmh {
	width:16px; height:22px; 
	cursor:pointer ;
	background: url(../tree/lmh.gif) 0 0 no-repeat; 
}

/* Last sibling, expandable */
.ygtvlp { 
	width:16px; height:22px; 
	cursor:pointer ;
	background: url(../tree/lp.gif) 0 0 no-repeat; 
}

/* Last sibling, expandable, hover */
.ygtvlph { 
	width:16px; height:22px; cursor:pointer ;
	background: url(../tree/lph.gif) 0 0 no-repeat; 
}

/* Loading icon */
.ygtvloading { 
	width:16px; height:22px; 
	background: url(../tree/loading.gif) 0 0 no-repeat; 
}

/* the style for the empty cells that are used for rendering the depth 
 * of the node */
.ygtvdepthcell { 
	width:16px; height:22px; 
	background: url(../tree/vline.gif) 0 0 no-repeat; 
}

.ygtvblankdepthcell { width:16px; height:22px; }

/* the style of the div around each node */
.ygtvitem { }  

/* the style of the div around each node's collection of children */
.ygtvchildren { }  
* html .ygtvchildren { height:2%; }  

/* the style of the text label in ygTextNode */
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover { 
	margin-left:2px;
	text-decoration: none;
}

/*  Network Interface box */
DIV.interfacebox {
	width: 32px;
	height: 32px;
	padding-top: 11px;
	vertical-align: middle;
	text-align: center;
	background-image: url('/assets/icons/interface_lg.gif');
	background-position: center center;
	background-repeat: no-repeat;
	cursor: hand;
	cursor: pointer;
}

/* UPDATED STYLE JUL 2012 ------------ */

.yui-skin-sam {
  background-color: #1D5784;
}

.loginwindow1 b {
  background: #FFF;
}

.loginwindow_content {
  background: #FFF;
}

.version {
  display: block;
  padding: 10px;
}

.version-title {
  
  display: inline;
  padding: 10px 0px 10px 0px;
  font-size: 18px;
  font-weight: bold;
}

.version-number {
  display: inline;
  padding: 10px 0px 10px 0px;
  font-size: 26px;
  font-weight: bold;
  color: #1D5784;
  clear: right;
}

.current-user {
  display: block;
}

#toolbar1, #noPrint {
  background-color: #f1f1f1;
}

.secondarybar {
  background-color: #666;
  color: #FFF;
  padding: 8px 8px 8px 11px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
}