

.sort-table {
	/* border-left: 1px solid White;
	border-top: 1px solid White;
	border-bottom: 1px solid #808080;
	border-right: 1px solid #808080;
	background:	Window;
	color:		WindowText;
	*/
}


.sort-table thead {
	background:	ButtonFace;
}

.sort-table td {
	padding:	2px 5px;
}

.sort-table thead td {
	border-left: 1px solid White;
	border-top: 1px solid White;
	border-bottom: 1px solid #808080;
	border-right: 1px solid #808080;
	cursor: pointer;
	cursor: hand;
}

.sort-table thead td:active {
	border-left: 1px solid White;
	border-top: 1px solid White;
	border-bottom: 1px solid #808080;
	border-right: 1px solid #808080;
	cursor: pointer;
	cursor: hand;
}


.sort-table thead td[_sortType=None]:active {
	border-left: 1px solid White;
	border-top: 1px solid White;
	border-bottom: 1px solid #808080;
	border-right: 1px solid #808080;
	cursor: pointer;
	cursor: hand;
}


DIV.datagrid .sort-arrow, TABLE.datagrid .sort-arrow {
	width:					11px;
	height:					11px;
	background-position:	center center;
	background-repeat:		no-repeat;
	margin:					0 2px;
	vertical-align:         middle;
}

.sort-arrow.descending {
	background-image:		url("/assets/icons/sort_down.gif");

}

.sort-arrow.ascending {
	background-image:		url("/assets/icons/sort_up.gif");
}

DIV.datagrid .sort-arrow.ascending, TABLE.datagrid .sort-arrow.ascending {
	background-image:		url("/assets/icons/sort_up.gif");
}
