@CHARSET "UTF-8";


#mapper .loading-indicator {
    position: absolute;
    top: 35%;
    left: 43%;
    color: #444;
    background-repeat: no-repeat;
    background-position: left 5px;
    background-image: none;
    text-align: left;
    padding: 10px 10px 10px 38px;
    font-size: 12px;
    height: 18px;
}


#loading-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
    background-color: white;
}

#loading {
    position: absolute;
    left: 45%;
    top: 40%;
    padding: 2px;
    z-index: 20001;
    height: auto;
}

#loading img {
    margin-bottom: 5px;
}

#loading .loading-indicator {
    /* background: white; */
    color: #555;
    font: bold 13px tahoma, arial, helvetica;
    padding: 10px;
    margin: 0;
    text-align: center;
    height: auto;
    width: 150px;
}