<!-- {$smarty.template} ($Id$) -->
<div class="panel">
<form enctype="multipart/form-data" name="upload_form" action="?module=mod_devices&action=process_upload_mib" method="post">
<table width="100%" cellspacing="0" cellpadding="5" border="0">
	<tr>
		<td>Select File:</td>
		<td>{input class="text" type="file" name="mib"}</td>
	</tr>
	<tr>
		<td align="center" colspan="2">{input type="submit" class="button" value="Upload"}</td>
	</tr>
</table>
</form>
</div>
<!-- end of {$smarty.template} -->
