
<!-- {$smarty.template} ($Id$) -->

<div class="panel">
<form method="POST" action="?module=mod_devices&action=process_create_note&id={$smarty.get.id}">
<input type="hidden" name="device_id" value="{$smarty.get.id}">
	<table width="100%" cellspacing="0" cellpadding="5" align="center" border="0">

		<tr>
			<td>
				<div align="center"><strong>Subject:</strong><br /><input type="text" {param name="subject" class="input"} value="{$smarty.post.subject}"></div>
			</td>
		</tr>

		<tr>
			<td colspan="2"><div align="center"><strong>Note:</strong><br />
			<textarea rows="14" cols="32" {param name="note" class="input"}>{$smarty.post.note}</textarea>
			</div>
			</td>
		</tr>

		<tr>
			<td colspan="2" align="center">{input class="button" type="submit" value="Save Changes"}</td>
		</tr>
	</table>
</form>
</div>

<!-- end of {$smarty.template} -->
