
<!-- {$smarty.template} ($Id$) -->

<!--<img class="progress_big" src="/assets/progress_big.gif" id="storage_devs_progress" style="float: right" />-->
<table width="100%" cellpadding="0" cellspacing"0" border="0">
	<tr>

{foreach from=$devs item="dev"}
{counter assign="devcount"}

{capture assign="used"}{if $dev.Size > 0}{$dev.Size-$dev.Free}{else}0{/if}{/capture}
{capture assign="size"}{if $dev.Size > 0}{$used/$dev.Size*100|string_format:"%d"}{else}"N/A"{/if}{/capture}

	<td width="20%" valign="top">
	<div align="center" style="margin-top: 7px;">
				

	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="63" height="57">
	  <param name="movie" value="/assets/diskview.swf?currentStatus={$size}&animation=1&threshold=80">
	  <param name=quality value=high>
	  <embed src="/assets/diskview.swf?currentStatus={$size}&animation=1&threshold=80" quality=high pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="63" height="57"></embed>
	</object>
	<br/>
	{$dev.Letter}
					
	  </div>
	</td>
{if $devcount % 5 == 0}</tr><tr>{/if}
{/foreach}


	</tr>
</table>


<!-- end of {$smarty.template} -->
