/*
 * yui-ext 0.33
 * Copyright(c) 2006, Jack Slocum.
 */

.ygrid-cell-text {
	display: block;
	overflow: hidden;
	padding: 3px 5px;
	white-space: nowrap;
}
.ygrid-col{
	cursor: default;
	height:21px !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position:absolute;
	display:block;
	-moz-outline: none;
	-moz-user-focus: normal;
	overflow: hidden;
	border-left: 1px solid White;
}
.yeditgrid .ygrid-col{
	-moz-outline: normal;
}
.ygrid-col, .ygrid-hd {
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.ygrid-col-0{
	border-left: 0px;
}
.ygrid-col-last{
	border-right: 1px solid #f1efe2;
}
.ygrid-editor{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position:absolute;
	visibility:hidden;
	font: normal 8pt arial;
	border: 1px solid #afbdc9;
	z-index:10;
}
.ygrid-editor input{
	font: normal 8pt arial;
	border: 0px;
	padding-top:2px;
	padding-left:3px;
}
.ygrid-editor-container{
	overflow:hidden;
	display:block;
	background-color:white;
}
.ygrid-editor .pick-button{
	width:15px;
	height:20px;
	position:absolute;
	display:block;
	right:0;
	top:0;
	z-index:2;
	background-image: url(../images/grid/pick-button.gif);
	background-repeat: no-repeat;
}
.ygrid-editor-invalid{
	background-image: url(../images/grid/invalid_line.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	border: 1px solid #afbdc9;
}
.ygrid-checkbox-editor{
	text-align: center;
	overflow:hidden;
	display:block;
	background-color:white;
}
.ygrid-checkbox-editor input{
	margin-top:3px;
	height:13px;
	width:13px;
}
select.ygrid-editor{
	padding: 0px;
	-moz-outline: none;
	border: 1px solid #afbdc9;
}
.ygrid-num-editor{
	text-align:right;
	padding-top:2px;
	padding-left:3px;
}
.ygrid-text-editor{
	padding-top:2px;
	padding-left:3px;
}
.ygrid-hd{
	font: 11px Tahoma;
	font-weight: bold;
	background-color: #D4D0C8;
	/*border-top: 1px solid White;
	border-bottom: 1px solid #808080;*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: block;
	position: absolute;
	overflow:hidden;
}
.ygrid-column-sizer {
	width:1px;
	border-right:1px dashed #6593cf;
	background:none;
	cursor: col-resize;
}
.ygrid-drag-proxy{
	width:150px;
	height:24px;
	background-color:#3366cc;
	border: 1px solid #002266;
	position:absolute;
	visibility:hidden;
	z-index:10000;
}
.ygrid-drag-text{
   font: normal 8pt arial;
	color:white;
	position:absolute;
	top:0px;
	left:26px;
	padding:3px;
	display:block;
}
.ygrid-drop-icon{
   position:absolute;
	top:0px;
	left:0px;
	display:block;
	width:24px;
	height:100%;
	background-position: center;
	background-repeat: no-repeat;
}
.ygrid-drop-nodrop{
   background-image: url(../images/grid/drop-no.gif);
}
.ygrid-drop-ok{
   background-image: url(../images/grid/drop-yes.gif);
}
.ygrid-hd .sort-asc {
	background-image: url(../images/grid/sort_asc.gif);
	background-position: right;
	background-repeat: no-repeat;
	display: none;
	height: 14px;
	width: 16px;
}
.ygrid-hd .sort-desc {
	background-image: url(../images/grid/sort_desc.gif);
	background-position: right;
	background-repeat: no-repeat;
	display: none;
	height: 14px;
	width: 16px;
}
.ygrid-hd-body {
	/* border-bottom: 1px solid #808080; */
	cursor: default;
	display: block;
	font: normal 11px Tahoma;
	font-weight: bold;
	left: 0;
	overflow: hidden;
	padding: 3px 5px;
	position: relative;
	top: 0;
	white-space: nowrap;
}
.ygrid-hd-body span {
	font: bold 8pt Arial;
	white-space: nowrap; 
}
.ygrid-hd-over{
	border-bottom: 2px solid #fcc247;
}
.ygrid-hd-over .ygrid-hd-body{
	background-color: #faf9f4;
	border-bottom: 1px solid #f9a900;
}
.ygrid-hd-split {
	background-image: url(../images/grid/grid-split.gif);
	background-position: center;
	background-repeat: no-repeat;
	cursor: e-resize;
	display: block;
	font-size: 1px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	top: 2px;
	width: 6px;
	z-index: 3;
}
.ygrid-hrow{
	background-color: #D4D0C8;
	border-top: 1px solid White;
	border-bottom: 1px solid #808080;
	display: block;
	height: 22px;
	left: 0;
	position: relative;
	top: 0;
	width: 10000px;
	overflow:hidden;
	z-index:2;
}
.ygrid-hrow-frame{
	height: 22px;
	left: 0;
	display:block;
	position: absolute;
	top: 0;
	width: 10000px;
	z-index:1;
}
.ygrid-footer .ytoolbar{
	border:0px;
}
.ygrid-page-number{
	width:24px;
	height:14px;	
}
.ygrid-page-first{
	background-image: url(../images/grid/page-first.gif);
}
.ygrid-loading{
	background-image: url(../images/grid/done.gif);
}
.ygrid-page-last{
	background-image: url(../images/grid/page-last.gif);
}
.ygrid-page-next{
	background-image: url(../images/grid/page-next.gif);
}
.ygrid-page-prev{
	background-image: url(../images/grid/page-prev.gif);
}
.ytb-button-disabled .ygrid-loading{
	background-image: url(../images/grid/loading.gif);
}
.ytb-button-disabled .ygrid-page-first{
	background-image: url(../images/grid/page-first-disabled.gif);
}
.ytb-button-disabled .ygrid-page-last{
	background-image: url(../images/grid/page-last-disabled.gif);
}
.ytb-button-disabled .ygrid-page-next{
	background-image: url(../images/grid/page-next-disabled.gif);
}
.ytb-button-disabled .ygrid-page-prev{
	background-image: url(../images/grid/page-prev-disabled.gif);
}
.ygrid-mso{
}
.ygrid-mso .ygrid-hd{
	background:none;
	border-bottom:0px;
}
.ygrid-mso .ygrid-footer {
	border-top: 1px solid #6593cf;
}

.ygrid-mso .ygrid-footer .ygrid-fbutton{
	border:0px;
}
.ygrid-mso .ygrid-hd-body {
	border-bottom:0px;
}
.ygrid-mso .ygrid-hd-over{
	border-bottom:0px;
}
.ygrid-mso .ygrid-hd-over .ygrid-hd-body{
	background-color: transparent;
}
.ygrid-mso .ygrid-hd-split {
	background-image: url(../images/grid/grid-blue-split.gif);
}
.ygrid-mso .ytoolbar .ytb-sep {
	background-image: url(../images/grid/grid-blue-split.gif);
}
.ygrid-mso .ygrid-hrow{
	background: url(../images/grid/mso-hd.gif);
	border-bottom: 1px solid #6593cf;
	height: 21px;
}
.ygrid-mso .ygrid-row{
	color: black;
	border-bottom: 1px solid #ddecfe;
}
.ygrid-mso .ygrid-row-alt{
	background-color: #f5f5f5;
}
.ygrid-mso .ygrid-row-selected{
	background-color: #b3c8e8  !important;
	color: black;
}
.ygrid-mso .ygrid-row-selected span{
	color: black !important;
}
.yprops-grid .ygrid-col-1{
	 background-color: #f1efe2;
}
.yprops-grid .ygrid-col-1 .ygrid-cell-text{
	 background-color: white;
}
.yprops-grid .ygrid-col-0{
	 background-color: #f1efe2;
}
.yprops-grid .ygrid-col-0 .ygrid-cell-text{
	 background-color: white;
	 margin-left:10px;
}
.yprops-grid .ygrid-prop-edting .ygrid-col-0 .ygrid-cell-text{
	 /* Since there is no programmatic way to turn off selection behavior we have simply disabled the CSS visual indicators */
	 /* background-color: #316ac5; 
	 color: white; */
}
.yprops-grid .ygrid-prop-edting .ygrid-col-0{
	 color: white;
}
.yprops-grid .ygrid-num-editor{
	text-align:left;
}
.ygrid-row{
	font: normal 8pt arial;
	border-bottom: 1px solid #f1efe2;
	overflow: visible;
	white-space: nowrap;
	height:21px;
	width:10000px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	display:block;
	position:absolute;
	background-color: #EEEEEE;
}
.ygrid-row-alt{
	background-color: #FFFFFF;
}
.ygrid-row-over{
	background-color: #D7FFD7;
	color: black;
}
.ygrid-row-selected{
	 /* Since there is no programmatic way to turn off selection behavior we have simply disabled the CSS visual indicators */
	 /* background-color: #316ac5; 
	 color: white; */
}
.ygrid-row-selected span{
	/* Since there is no programmatic way to turn off selection behavior we have simply disabled the CSS visual indicators */
	/* color: white !important; */
}
.ygrid-vista{
	 border:1px solid #535353;
}
.ygrid-vista .ygrid-hd{
	border-bottom:0px;
	background:none;
}
.ygrid-vista .ygrid-hd-body {
	border-bottom: 1px solid #b3bcc0;
}
.ygrid-vista .ygrid-hd-over{
	border-bottom:0px;
}
.ygrid-vista .ygrid-hd-over .ygrid-hd-body{
	background-color: transparent;
	border-bottom:0px;
}
.ygrid-vista .ygrid-hd-split {
	background-image: url(../images/grid/grid-split.gif);
}
.ygrid-vista .ygrid-hrow{
	background: url(../images/grid/grid-vista-hd.gif);
	height: 21px;
}
.ygrid-vista .ygrid-row-alt{
	background-color: #f5f5f5;
}
.ygrid-vista .ygrid-row-selected{
	background-color: #535353  !important;
	color: white;
}
.ygrid-vista .ygrid-row-selected span{
	color: white !important;
}
.ygrid-vista .ygrid-wrap-body {
}
.ygrid-vista .ytoolbar{
	border: 0px none;
	background: url(../images/grid/grid-vista-hd.gif);
}
.ygrid-vista .ytoolbar .ytb-sep{
	background-image: url(../images/grid/grid-split.gif);
}
/* 
  To have the scrollbars overlap the header, change .ygrid-wrap top style to 0 and 
  and ygrid-wrap-body top to 22px
  Then grid.getView().scrollbarMode = YAHOO.ext.grid.GridView.SCROLLBARS_OVERLAP;
 */
.ygrid-wrap {
	height: 100%;
	left: 0;
	overflow: auto;
	position: relative;
	top: 22px;
	width: 100%;
}
.ygrid-footer{
	display: block;
	padding:0px;
	border-top: 1px solid #cbc7b8;
}
.ygrid-wrap-footer {
	display: block;
	overflow: hidden;
	width:100%;
	height:25px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #ebeadb;
	position:absolute;
	bottom:0px;
}
.ygrid-wrap-body {
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	display: block;
}
.ygrid-wrap-headers {
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 12;
}
/* 
The grid first check if a column style is defined as:
#your-grid .ygrid-col-0
if it doesn't find it, it uses one of the generic empty rules below.
If you have more than one grid on your page - you MUST define you columns
like above - #container-id .ygrid-col-0 and they must each be a separate rule
*/
.ygrid-col-0{
}
.ygrid-col-1{
}
.ygrid-col-10{
}
.ygrid-col-11{
}
.ygrid-col-12{
}
.ygrid-col-13{
}
.ygrid-col-14{
}
.ygrid-col-15{
}
.ygrid-col-16{
}
.ygrid-col-17{
}
.ygrid-col-18{
}
.ygrid-col-19{
}
.ygrid-col-2{
}
.ygrid-col-20{
}
.ygrid-col-3{
}
.ygrid-col-4{
}
.ygrid-col-5{
}
.ygrid-col-6{
}
.ygrid-col-7{
}
.ygrid-col-8{
}
.ygrid-col-9{
}

.ygrid-header-0{
}
.ygrid-header-1{
}
.ygrid-header-10{
}
.ygrid-header-11{
}
.ygrid-header-12{
}
.ygrid-header-13{
}
.ygrid-header-14{
}
.ygrid-header-15{
}
.ygrid-header-16{
}
.ygrid-header-17{
}
.ygrid-header-18{
}
.ygrid-header-19{
}
.ygrid-header-2{
}
.ygrid-header-20{
}
.ygrid-header-3{
}
.ygrid-header-4{
}
.ygrid-header-5{
}
.ygrid-header-6{
}
.ygrid-header-7{
}
.ygrid-header-8{
}
.ygrid-header-9{
}
/* The styles below are for the examples and can be removed */
#grid-example{
	border: 1px solid #cbc7b8;
	left: 0;
	position: relative;
	top: 0;
}
#grid-example .ygrid-col-0 {
}
#grid-example .ygrid-col-1 {
	text-align: right;
}
#grid-example .ygrid-col-2{
	text-align: right;
}
#grid-example .ygrid-col-3 {
	text-align: right;
}
#grid-example .ygrid-col-4 {
	text-align: right;
}
#grid-example.ygrid-mso{
	border: 1px solid #6593cf;
}
#grid-example.ygrid-vista{
	border: 1px solid #b3bcc0;
}
#xml-grid-example{
	border: 1px solid #cbc7b8;
	left: 0;
	position: relative;
	top: 0;
}
#xml-grid-example .ygrid-col-0 {
}
#xml-grid-example .ygrid-col-1 {
}
#xml-grid-example .ygrid-col-2{
}
#xml-grid-example .ygrid-col-3 {
}
#xml-grid-example.ygrid-mso{
	border: 1px solid #6593cf;
}
#xml-grid-example.ygrid-vista{
	border: 1px solid #b3bcc0;
}
#editor-grid .ygrid-col-2{
    text-align:right;
}
.ypopcal{
	background: white;
	padding:2px;
	border: 1px solid gray;
	z-index:12001;
}
.ypopcal-shadow {
	background: #dddddd;
	filter: progid:DXImageTransform.Microsoft.Blur(MakeShadow=true,pixelradius=1) Alpha(opacity=35,style=1,startX=0,finishX=200,FinishOpacity=35);
	padding: 0px;
	position:absolute;
	z-index:12000;
}
.ypopcal-head{
	width:150px;
	background: #93b5e4;
}
.ypopcal-head td{
	padding:1px;
}
.ypopcal-month{
	color: white;
	font: bold 7pt verdana;
	text-decoration: none;
	text-align:center;
}
.ypopcal-head .ypopcal-arrow{
	width:16px;
	text-align:center;
	cursor:pointer;
	-moz-user-select: none;
}

.ypopcal-head .next-month{
	width:16px;
	background-image: url(../images/grid/arrow-right-white.gif);
	background-position: center;
	background-repeat: no-repeat;
	cursor:pointer;
}
.ypopcal-head .prev-month{
	width:16px;
	background-image: url(../images/grid/arrow-left-white.gif);
	background-position: center;
	background-repeat: no-repeat;
	cursor:pointer;
}

.ypopcal-table {
	background:white;
	border-bottom: 1px solid #cccccc;
}
.ypopcal-table tr{
	
}
.ypopcal-table td{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid white;
	text-align:right;
	color:#aaaaaa;
	cursor:pointer;
	font:normal 8pt arial;
	background:white;
	padding:1px 2px;
	width:12px;
	height:12px;
}
.ypopcal-table td.today{
	border: 1px solid darkred;
}
.ypopcal-table .ypopcal-daynames td{
	text-align:center !important;
	border:0px;
	border-bottom: 1px solid #cccccc;
	font-size: 8pt;
	font-weight: normal;
	text-align:right;
	color:black;
	cursor:default;
}
.ypopcal-table td.active{
	cursor:pointer;
	color:black;
}
.ypopcal-table td.ypopcal-disabled{
	cursor:default;
	background:#eeeeee;
	border: 1px solid #eeeeee;
	color:#bbbbbb;
}
.ypopcal-table td.selected{
	background: #ddecfe;
	border: 1px solid #c3daf9;
}
.ypopcal-today{
	color: black;
	cursor: hand;
	display: inline-block;
	font: normal 8pt arial;
	margin-left: 2px;
	text-decoration: none;
	margin-top:0px;
}

.ygrid-simple-view .ygrid-col{
	 height:100% !important;
	 position:static;
	 display:table-cell;
	 display:inline-block;
}
.ygrid-simple-view .ygrid-row{
	 position:static; 
	 display: table-row;
}