<!-- {$smarty.template} ($Id$) -->

<tr>
	<td>Max Utilization</td>
	<td><input type="text" size="3" name="trigger_threshold" {if $cam}value="{$cam->get('trigger_threshold')|default:$smarty.post.trigger_threshold}"{/if}>%</td>
</tr>

<!-- end of {$smarty.template} -->
