{*<!-- {$smarty.template} ($Id$) -->*}


Services monitored: {$stats.total}<br />
Services up: {$stats.up}<br />
Services down: {$stats.down}<br />
Unknown: {$stats.unknown}<br />

{*<!-- end of {$smarty.template} -->*}
