<html>
	<!-- {$smarty.template} ($Id$) -->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<link rel="SHORTCUT ICON" href="assets/icons/fav.ico">
		<title>{$smarty.const.SITE_NAME} {$smarty.const.VERSION}</title>
	</head>
	
	<frameset rows="71,*" cols="*" frameborder="NO" border="0" framespacing="0">
		<frame src="?module=core&action=display_toolbar&root_tpl=blank_panel" name="toolbar" scrolling="no" noresize >
		<frame src="?module=mod_layout&action=render_section&layout=home" name="main_window" scrolling="no" noresize >
	</frameset>
	
	<noframes></noframes>
	<!-- end of {$smarty.template} -->
</html>
