{import_js files="AC_RunActiveContent"}
{import_js files="graphs"}
<div class="titlebar">Network Activity</div>
<div class="panel">
	<div align="center">
		<span id="proto_in">	
		<script type="text/javascript">
			AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0',
			'width','520',
			'height','270',
			'src','assets/charts/FC_2_3_StckdColumn3D?dataURL=%3Fmodule=mod_network%26action=graph_get_protocols%26root_tpl=blank%26device=-1%26interface=-1%26animation=0%26&chartWidth=520&chartHeight=270',
			'quality','high',
			'salign','LT',
			'pluginspage','http://www.macromedia.com/go/getflashplayer',
			'movie','assets/charts/FC_2_3_StckdColumn3D?dataURL=%3Fmodule=mod_network%26action=graph_get_protocols%26root_tpl=blank%26device=-1%26interface=-1%26animation=0%26&chartWidth=520&chartHeight=270'
			 ); //end AC code
			 
			 gm.register_graph('proto_in');
		</script>
		</span>	
	</div>
</div>
