<!-- {$smarty.template} ($Id$) -->

<!-- Active Content Script -->
{import_js files="AC_RunActiveContent"}

<div class="titlebar">
	Netmon {$type|mktitle} Report Builder - {$report.label}
</div>

<script type="text/javascript">
	AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0',
	'width','100%',
	'height','520',
	'src','assets/reporting/{$type}?report_type={$type}&report_name={$report.label}&id={$smarty.get.id}',
	'quality','high',
	'salign','LT',
	'bgcolor','#D4D0C8',
	'pluginspage','http://www.macromedia.com/go/getflashplayer',
	'movie','assets/reporting/{$type}?report_type={$type}&report_name={$report.label}&id={$smarty.get.id}'
	 ); //end AC code
</script>




<!-- end of {$smarty.template} -->
